html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@keyframes slide-in-from-bottom-100-percent {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-from-bottom-5rem {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in-from-bottom-5rem {
  animation: slide-in-from-bottom-5rem 1.5s forwards ease-out;
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-slide-in-from-right {
  animation: slide-in-from-right 1s forwards ease-out;
}

.animate-slide-out-to-right {
  animation: slide-out-to-right 1s forwards ease-out;
}

@keyframes scroll-down {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}
